a.navbar-brand {
  white-space: normal;
  text-align: center;
}

a {
  color: #42f8ff;
}

.btn-primary {
  color: #041014;
  background-color: #7dff6b;
  border-color: #7dff6b;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #041014;
  background-color: #7dff6b;
  border-color: #7dff6b;
}

.footer {
  bottom: 0;
  line-height: 1.4;
  white-space: normal;
}
